[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sentry-sdk = "*"
requests = "*"


[dev-packages]
bandit = "*"
black = "*"
coverage = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pytest = "*"
requests-mock = "*"
types-requests = "*"

[requires]
python_version = "3.9"
